/WorkWithMethods/nbproject/private/
/WorkWithMethods/build/
/Loops/DoWhile/nbproject/private/
/Loops/nbproject/private/
/Loops/build/
/WorkWObjects/nbproject/private/
/WorkWObjects/build/
/LabAssignemnt3/nbproject/private/
/LabAssignemnt3/build/
/LAb8/nbproject/private/
/LAb8/build/
/LabAssignment3/nbproject/private/
/LabAssignemnt3fr/build/
/LabAssignemnt3fr/nbproject/private/
/Static/nbproject/private/
/Static/dist/
/Static/build/
/Access_modifiers/nbproject/private/
/Access_modifiers/build/
/Inheritence/nbproject/private/
/Inheritence/build/
/Abstraction/nbproject/private/
/Abstraction/build/
/Interface/nbproject/private/
/Interface/build/
/Rational/nbproject/private/
/BeforeMid/nbproject/private/
/BeforeMid/build/
/LabMid/nbproject/private/
/LabMid/build/
/LabInheritence/nbproject/private/
/LabInheritence/build/
/JavaInterface/nbproject/private/
/JavaFXSlashJavaUI/nbproject/private/
/JavaFXSlashJavaUI/build/
/Project_Animal/nbproject/private/
/NOVO/nbproject/private/
/Decagom/nbproject/private/
/Decagon/nbproject/private/
/Decagon/build/
/QASalenium/nbproject/private/
/QASelenium/nbproject/private/
/QASelenium/build/
/AssignmentSVA/nbproject/private/
/AssignmentJava/nbproject/private/
/AssignmentSVA/build/
/JavaApplication40/nbproject/private/
/TheoryZhoAssignment/nbproject/private/
/NovoAs/nbproject/private/
/NovoAs/build/
/checkOP/nbproject/private/
/checkOP/build/
/LabQuiz2/nbproject/private/
/LabQuiz2/build/
/FILEIO/nbproject/private/
/FILEIO/build/
/ExceptionHandlingExample/nbproject/private/
/ExceptionHandlingExample/build/
/CalculatorException/nbproject/private/
/CalculatorException/build/
/JavaFXAndDatabase/nbproject/private/
/JavaFXAndDatabase/build/
/LabFinal/nbproject/private/
/LabFinal/build/
/BusTicketManagement/nbproject/private/
/BusTicketManagement/build/
/FileCSVREAD/nbproject/private/
/FileCSVREAD/build/
/MultiThreadAssignment/nbproject/private/
/MultiThreadAssignment/build/
/MT/nbproject/private/
/MT/build/
/CreateFileFromAnotherExternalMethod/nbproject/private/
/CreateFileFromAnotherExternalMethod/build/
/NovoQ34/nbproject/private/
/NovoQ34/build/
/MultiThreadingTheory/nbproject/private/
/MultiThreadingTheory/build/
/NovoAF/nbproject/private/